.home > h1{
  font-size: 21px;
  background: -webkit-linear-gradient(rgb(28, 201, 129), rgb(9, 230, 212));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}