
.nav-button, .user-name{
  display:block;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 5px 0px 5px 0px;
  font-size: 12px;
  color: #006f85;
  text-decoration: none;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: normal;


}



.nav-button:hover{
    color: rgb(192, 189, 189);
    background-color: rgb(240, 239, 239);
}



.logo > h1{
  font-size: 26px;
  background: -webkit-linear-gradient(rgb(28, 201, 129), rgb(9, 230, 212));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 800;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 80px;
  padding-right: 80px;
}

.logo{
    text-decoration: none;
}

.nav-bar {
  display: flex;
  height: 45px;

  .logo-and-search{
    display: flex;
    flex-direction: row;

    input[type=text]{
      position: relative;
      top: 10px;
    }
  }
}

.nav-bar-links{
  display: flex;
  justify-content: flex-end;
  width: 100%;

  

}

