
.nav-button, .user-name{
  display:block;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 5px 0px 5px 0px;
  font-size: 12px;
  color: #006f85;
  text-decoration: none;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: normal;


}



.nav-button:hover{
    color: rgb(192, 189, 189);
    background-color: rgb(240, 239, 239);
}



.logo > h1{
  font-size: 26px;
  background: -webkit-linear-gradient(rgb(28, 201, 129), rgb(9, 230, 212));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 800;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 80px;
  padding-right: 80px;
}

.logo{
    text-decoration: none;
}

.nav-bar {
  display: flex;
  height: 45px;

  .logo-and-search{
    display: flex;
    flex-direction: row;

    input[type=text]{
      position: relative;
      top: 10px;
    }
  }
}

.nav-bar-links{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.dropdown{
  position: relative;
  display: inline-block;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;

  .dropbtn{
    color: #006f85;
    padding: 10px;
    margin-top: 5px;
    border: none;
  }

  .dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 30;
    padding-top: 3px;
    box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.2);
  }
}

.dropdown-content .dropdown-item{
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #3D3D3D;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  line-height: 1.428571429;
}

.dropdown-content .dropdown-item:hover{
  background-color: rgb(49, 223, 223);
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(240, 239, 239);
}
