.signup-form-container{
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,111,133,0.8); /* Black w/ opacity */

    img{
      width: 32px;
      height: 32px;
    }

    h1{
      font-size: 27px;
      font-weight: 600;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    p{
      color: black;
      text-align: center;
      margin-left: 15px;
      margin-bottom: 5px;

    }

    a{
      font-size: 17px;
      font-weight: 600;
      align-content: center;
      align-self: center;
      text-align: center;
      align-items: center;
    }

    a:hover{
      color: #888;
      text-decoration: underline;
      cursor: pointer;
    }
}

.modal-content-signup{
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  color: #006f85;
  // position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 650px; /* Could be more or less, depending on screen size */
  border-radius: 4px;
  // top: 20px;
  // left: 33%;
}

.signup-form{
  background-color: white;
  height: auto;
  width: 500px;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  color: #006f85;
  display: flex;
  flex-wrap: wrap;
  position:relative;
  margin:0 auto;
  clear:left;
  height:auto;
  justify-content: center;

  img{
    padding-left: 10px;
  }
  h1{
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  p{
    color: black;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 5px;

  }
  input, label{
    margin-left: 15px;
    margin-top: 10px;
  }

  input[type=text], input[type=password], input[type=date]{
    border-style: none none solid none;
    border-width: 1px;
    margin-left: 0;
    width: 173px

  }
  
  button{
    font-weight: 700;
    height: 50px;
    margin-top: 25px;
    width: 200px;
    margin-bottom: 25px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

  button:hover{
    background-color: rgb(49, 223, 223);
    color: white;
  }



  .log-in-redirec-data > p, .log-in-redirec-data > a{
    margin-right: 10px;
  }
}

.errors{
  display: flex;
  flex-direction: column;
  color: red;
  align-items: center;
}

.log-in-redirec-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}