.signup-form{
  background-color: white;
  height: auto;
  width: 500px;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  color: #006f85;
  display: flex;
  flex-wrap: wrap;
  position:relative;
  margin:0 auto;
  clear:left;
  height:auto;

  img{
    padding-left: 10px;
  }
  h1{
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  p{
    color: black;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 5px;

  }
  input, label{
    margin-left: 15px;
    margin-top: 10px;
  }

  input[type=text], input[type=password], input[type=date]{
    border-style: none none solid none;
    border-width: 1px;
    margin-left: 0;

  }
  
  button{
    font-weight: 700;
    height: 50px;
    margin-top: 25px;
    width: 200px;
    margin-left: 150px;
    margin-bottom: 25px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

  button:hover{
    background-color: rgb(49, 223, 223);
    color: white;
  }
}


.signup-page{
  background-color: #006f85;
}