.trustpilot-stars{
  width: 150px;
  height: 28px;
  margin-right: 5px;
}

.trustpilot-rating::before{
  content: "";
    display: block;
    border-top: solid 1px rgba(124,154,156,0.3);
    height: 1px;
    position: absolute;
    left: 35px;
    right: 35px;
    top: 50%;
    z-index: 1;
    

}

.trustpilot-rating{
  position: relative;
  width: auto;
  display: flex;
  justify-content: center;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-size: 20px;
  top: 25px;
  z-index: 1;
}

.trustpilot-reviews{
  display: flex;
  align-items: center;
  background-color: white;
  color:#7c9a9c;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
  z-index: 1;
  
  b{
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 600;
    color: black;
  }
}

