.search-results{
  font-family: "Work Sans", Arial, Helvetica, sans-serif;

  h1{
    font-size: 27px;
    font-weight: 600;
    color: #006f85;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;

    img{
      margin-right: 5px;
    }
  }
}